<!DOCTYPE html>
<html lang="en">
<head>
    <title>Money Manager</title>
</head>

<body>
    <header>
        <h1>Money Manager</h1>
        <p>Manage your finances effortlessly</p>
        <div>
            <a href="{% url 'logout' %}">Log Out</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a>Home</a></li>
            <li>
                <a>Expenses</a>
                <ul>
                    <li><a href="{% url 'bills' %}">Bills</a></li>
                    <li><a href="{% url 'daily_buy' %}">Daily Buy</a></li>
                    <li><a href="{% url 'random_expenses' %}">Random Expenses</a></li>
                </ul>
            </li>
            <li>
                <a>Manager</a>
                <ul>
                    <li><a href="{% url 'expenses_manager' %}">Check your expenses</a></li>
                    <li><a href="{% url 'savings_manager' %}">Check how much you have saved</a></li>
                </ul>
            </li>
            <li><a href="{% url 'account' %}">Account</a></li>
            <li>
                <a>Money Box</a>
                <ul>
                    <li><a href="{% url 'transfer_to_savings' %}">Transfer money to money box</a></li>
                    <li><a href="{% url 'set_savings_goal' %}">Set a savings goal</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div>
        <form method="post" action="{% url 'set_currency' %}">
            {% csrf_token %}
            <label for="currency">Choose your currency:</label>
            <select name="currency" id="currency">
                <option value="USD" {% if request.user.currency == "USD" %}selected{% endif %}>USD</option>
                <option value="EUR" {% if request.user.currency == "EUR" %}selected{% endif %}>EUR</option>
                <option value="PLN" {% if request.user.currency == "PLN" %}selected{% endif %}>PLN</option>
            </select>
            <button type="submit">Set Currency</button>
        </form>
    </div>
</body>

</html>