<!DOCTYPE html>
<html lang="en">
<head>
    <title>Show Deposit</title>
</head>
<body>
    <header>
        <h1>Money Manager - Summary of Deposit</h1>
        <p>Manage your food expenses effortlessly</p>
        <div class="logout-container">
            <a href="{% url 'logout' %}" class="logout-button">Log Out</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'mainPage' %}">Home</a></li>
            <li>
                <a>Expenses</a>
                <ul>
                    <li><a href="{% url 'bills' %}">Bills</a></li>
                    <li><a href="{% url 'daily_buy' %}">Daily Buy</a></li>
                    <li><a href="{% url 'random_expenses' %}">Random Expenses</a></li>
                    <li><a href="{% url 'upload-from-file' %}">Upload your expenses from file</a></li>
                </ul>
            </li>
            <li>
                <a>Manager</a>
                <ul>
                    <li><a href="{% url 'expenses_manager' %}">Check your expenses</a></li>
                    <li><a href="{% url 'savings_manager' %}">Check how much you have saved</a></li>
                </ul>
            </li>
            <li><a href="{% url 'account' %}">Account</a></li>
            <li>
                <a>Money Box</a>
                <ul>
                    <li><a href="{% url 'transfer_to_savings' %}">Transfer money to money box</a></li>
                    <li><a href="{% url 'set_savings_goal' %}">Set a savings goal</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>------------------------------------------------------------------------</h1>
    <main>
        <h2>You can select a date and check how much money was transferred to your account on that day.</h2>
        <h3>Select Date:</h3>
        <form method="POST" action="{% url 'show_deposit' %}">
            {% csrf_token %}
            <label for="month">Select Month:</label>
            <input type="text" id="month" name="month">
            <label for="year">Select Year:</label>
            <input type="text" id="year" name="year">
            <button type="submit">Show Deposits</button>
        </form>

        <div>
            <h3>Deposits on Selected Date</h3>
            {% if deposits %}
                <ul>
                    {% for deposit in deposits %}
                        <li>{{ deposit.added_funds }} {{ currency }}- {{ deposit.source }} - {{ deposit.date }}: {{ deposit.total_balance }} {{ currency }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No deposits found for the selected date.</p>
            {% endif %}
        </div>
        
    </main>
</body>
</html>