<!DOCTYPE html>
<html lang="en">
<head>
    <title>Savings</title>
</head>
<body>
    <header>
        <h1>Money Manager - summary of savings</h1>
        <p>Manage your expenses effortlessly</p>
        <div>
            <a href="{% url 'logout' %}">Log Out</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'mainPage' %}">Home</a></li>
            <li>
                <a>Expenses</a>
                <ul>
                    <li><a href="{% url 'bills' %}">Bills</a></li>
                    <li><a href="{% url 'daily_buy' %}">Daily Buy</a></li>
                    <li><a href="{% url 'random_expenses' %}">Random Expenses</a></li>
                </ul>
            </li>
            <li>
                <a>Manager</a>
                <ul>
                    <li><a href="{% url 'expenses_manager' %}">Check your expenses</a></li>
                    <li><a href="{% url 'savings_manager' %}">Check how much you have saved</a></li>
                </ul>
            </li>
            <li><a href="{% url 'account' %}">Account</a></li>
            <li>
                <a>Money Box</a>
                <ul>
                    <li><a href="{% url 'transfer_to_savings' %}">Transfer money to money box</a></li>
                    <li><a href="{% url 'set_savings_goal' %}">Set a savings goal</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>------------------------------------------------------------------------</h1>
    <main>
        <h2>You can check how much you have paid in a given month and how much you have spent from your budget. You can also generate a pdf report from this.</h2>
        <h3>Select the month you want to check</h3>
        <form method="POST" action="{% url 'savings_manager' %}">
            {% csrf_token %}
            <label for="month">Select Month:</label>
            <input type="text" id="month" name="month">
            <label for="year">Select Year:</label>
            <input type="text" id="year" name="year">
            <button type="submit">Show Deposits</button>
        </form>

        <div>
            <h3>Your deposits into your account</h3>
            {% if deposits %}
                <ul>
                    {% for deposit in deposits %}
                        <li>{{ deposit.date }}: {{currency}}-{{ deposit.total_balance }} - {{ deposit.source }} - {{ deposit.added_funds }} {{currency}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No deposits found for the selected date.</p>
            {% endif %}
            <h2>Your deposits in this month: {{ total_expenses0 }} {{ currency }}</h2>

        </div>
        <h3>--------------------------------------------------------------------------------------------</h3>
        <div id="food_expenses">
            <h3>Your daily buy expenses</h3>
            {% if expenses1 %}
                <ul>
                    {% for exp1 in expenses1 %}
                        <li>{{ exp1.date }} - {{ exp1.shop }} - {{ exp1.product }} - {{ exp1.price }} {{currency}} </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No daily buy expenses found for the selected date.</p>
            {% endif %}
        </div>

        <div id="bills_expenses">
            <h3>Your bills expenses</h3>
            {% if expenses2 %}
                <ul>
                    {% for exp2 in expenses2 %}
                        <li>{{ exp2.date }} - {{ exp2.fee}} - {{ exp2.price }} {{currency}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No bills expenses found for the selected date.</p>
            {% endif %}
        </div>
        
        <div id="random_expenses">
            <h3>Your random expenses</h3>
            {% if expenses3 %}
                <ul>
                    {% for exp2 in expenses3 %}
                        <li>{{ exp2.date }} - {{ exp2.for_what}} - {{ exp2.price }} {{currency}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No random expenses found for the selected date.</p>
            {% endif %}
        </div>
        <h2>Your expenses in this month: {{ expenses }} {{ currency }}</h2>
        <h3>--------------------------------------------------------------------------------------------</h3>
        <h1>Generate PDF summary</h1>
        <p>Enter the month and year from which you want to generate a summary below</p>
        <form action="{% url 'generate_pdf' %}" method="POST">
            {% csrf_token %}
            <label for="month">Month:</label>
            <input type="number" id="month" name="month" min="1" max="12" required>
        
            <label for="year">Year:</label>
            <input type="number" id="year" name="year" min="2000" max="2100" required>
        
            <button type="submit">Generate PDF</button>
        </form>

        <h1>Generate CSV summary</h1>
        <p>Enter the month and year from which you want to generate a summary below</p>
        <form action="{% url 'generate_csv' %}" method="POST">
            {% csrf_token %}
            <label for="month">Month:</label>
            <input type="number" id="month" name="month" min="1" max="12" required>
        
            <label for="year">Year:</label>
            <input type="number" id="year" name="year" min="2000" max="2100" required>
        
            <button type="submit">Generate CSV</button>
        </form>
    </main>
</body>
</html>