<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bills expenses</title>
</head>
<body>
    <header>
        <h1>Money Manager - Bills</h1>
        <p>Manage your food expenses effortlessly</p>
        <div>
            <a href="{% url 'logout' %}">Log Out</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'mainPage' %}">Home</a></li>
            <li>
                <a>Expenses</a>
                <ul>
                    <li><a href="{% url 'bills' %}">Bills</a></li>
                    <li><a href="{% url 'daily_buy' %}">Daily Buy</a></li>
                    <li><a href="{% url 'random_expenses' %}">Random Expenses</a></li>
                    <li><a href="{% url 'upload-from-file' %}">Upload your expenses from file</a></li>
                </ul>
            </li>
            <li>
                <a>Manager</a>
                <ul>
                    <li><a href="{% url 'expenses_manager' %}">Check your expenses</a></li>
                    <li><a href="{% url 'savings_manager' %}">Check how much you have saved</a></li>
                </ul>
            </li>
            <li><a href="{% url 'account' %}">Account</a></li>
            <li>
                <a>Money Box</a>
                <ul>
                    <li><a href="{% url 'transfer_to_savings' %}">Transfer money to money box</a></li>
                    <li><a href="{% url 'set_savings_goal' %}">Set a savings goal</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>------------------------------------------------------------------------</h1>
    <main>
        <h2>Add bills what you have already paid or what you are going to pay.</h2>
        <form method="post">
            {% csrf_token %}
            <label for="date">Add Date:</label>
            <input type="date" id="date" name="date"><br>
            <label for="fee">Add what you intend to pay:</label>
            <input type="text" id="fee" name="fee"><br>
            <label for="price">Add Cost:</label>
            <input type="number" id="price" name="price" step="0.01"><br>
            <button type="submit">Add Record</button>
        </form>
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="success">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </main>
</body>
</html>