<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daily Buy expenses</title>
</head>
<body>
    <header>
        <h1>Money Manager - Daily Buy</h1>
        <p>Manage your food expenses effortlessly</p>
        <div>
            <a href="{% url 'logout' %}">Log Out</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'mainPage' %}">Home</a></li>
            <li>
                <a>Expenses</a>
                <ul>
                    <li><a href="{% url 'bills' %}">Bills</a></li>
                    <li><a href="{% url 'daily_buy' %}">Daily Buy</a></li>
                    <li><a href="{% url 'random_expenses' %}">Random Expenses</a></li>
                </ul>
            </li>
            <li>
                <a>Manager</a>
                <ul>
                    <li><a>Check your expenses</a></li>
                    <li><a>Check how much you have saved</a></li>
                </ul>
            </li>
            <li><a href="{% url 'account' %}">Account</a></li>
        </ul>
    </nav>
    <main>
        <h2>What have you bought today?</h2>
        <form method="post">
            {% csrf_token %}
            <label for="day">Add Day:</label>
            <select id="day" name="day">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select><br>
            <label for="date">Add Date:</label>
            <input type="date" id="date" name="date"><br>
            <label for="shop">Add Shop:</label>
            <input type="text" id="shop" name="shop"><br>
            <label for="product">Add Product:</label>
            <input type="text" id="product" name="product"><br>
            <label for="price">Add Price:</label>
            <input type="number" id="price" name="price" step="0.01"><br>
            <button type="submit">Add Record</button>
        </form>
    </main>
</body>
</html>