<!DOCTYPE html>
<html lang="en">
<head>
    <title>Money box</title>
</head>
<body>
    <header>
        <h1>Money Manager - Money box</h1>
        <p>Manage your food expenses effortlessly</p>
        <div>
            <a href="{% url 'logout' %}">Log Out</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'mainPage' %}">Home</a></li>
            <li>
                <a>Expenses</a>
                <ul>
                    <li><a href="{% url 'bills' %}">Bills</a></li>
                    <li><a href="{% url 'daily_buy' %}">Daily Buy</a></li>
                    <li><a href="{% url 'random_expenses' %}">Random Expenses</a></li>
                </ul>
            </li>
            <li>
                <a>Manager</a>
                <ul>
                    <li><a href="{% url 'expenses_manager' %}">Check your expenses</a></li>
                    <li><a href="{% url 'savings_manager' %}">Check how much you have saved</a></li>
                </ul>
            </li>
            <li><a href="{% url 'account' %}">Account</a></li>
            <li>
                <a>Money Box</a>
                <ul>
                    <li><a href="{% url 'transfer_to_savings' %}">Transfer money to money box</a></li>
                    <li><a href="{% url 'set_savings_goal' %}">Set a savings goal</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>------------------------------------------------------------------------</h1>
    <h1>Your money box!</h1>
    <p>Your savings goal: {{ target_amount }} {{ currency }}</p>
    <p>Currently saved: {{ current_amount }} {{ currency }}</p>
    <p>Achieved: {{ savings_progress }}%</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Transfer to the money box</button>
    </form>
</body>
</html>